form
  margin: 40px 10px 0 0

  textarea
    resize: none

    &.nottweeting
      height: 100px
  .attachment
    display: none

    &.nottweeting
      display: block

table
  width: 100%
  position: relative
  .when
    width: 150px
  .actions
    width: 100px
  .username
    width: auto

  td
    position: relative

    &.content
      padding: 20px !important

  .show_attachment, .delete_bork
    position: absolute
    bottom: 0
    left: 0

